<html>
    <head>
        <link rel="stylesheet" type"text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="create_sip.css">
        <link rel="stylesheet" type="text/css" href="index.css">
        <!--Angular Scripts -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <script src="bower_components/api-check/dist/api-check.min.js"></script>
        <script src="bower_components/angular-formly/dist/formly.min.js"></script>
        <script src="/home/petrus/Documents/jobb/essarch_test/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
        <!--App -->
        <!--Controllers-->
    </head>
    <body>
        <div>
            <div class="sub-menu">
                <button ng-click="selectedPage=pages[0];" type="button" class="btn-primary btn-lg">Info page</button>
                <button ng-click="selectedPage=pages[1];" type="button" class="btn-primary btn-lg">Prepare IP</button>
                <button ng-click="selectedPage=pages[2];" type="button" class="btn-primary btn-lg">Data selection</button>
                <button ng-click="selectedPage=pages[3];" type="button" class="btn-primary btn-lg">Data extraction</button>
                <button ng-click="selectedPage=pages[4];" type="button" class="btn-primary btn-lg">Manage Data</button>
                <button ng-click="selectedPage=pages[5];" type="button" class="btn-primary btn-lg">IP Approval</button>
                <button ng-click="selectedPage=pages[6];" type="button" class="btn-primary btn-lg">IP Management</button>
            </div>
            <div class="content-wrapper">
                </br>
                </br>
                <h3>Selected page: {{selectedPage}}</h3>
                <div class="list-view">
                    <h1>List view</h1>
                    <button type="button" ng-click="toggleSelectView()" class="btn btn-primary">Show/hide select view</button>
                    <button uib-popover-html="htmlPopover" popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen" type="button" class="btn btn-primary">Show/hide edit view</button>
                    <button type="button" ng-click="toggleSubSelectView()" class="btn btn-primary">Show/hide sub select view</button>
                    <button type="button" ng-click="toggleEventlogView()" class="btn btn-primary">Show/hide sub eventlog view</button>
                </div>
                <div ng-show="select" class="select-view">
                    <h1>Select view</h1>
                </div>
                <div ng-show="subSelect" class="sub-select-view">
                    <h1>Sub Select view</h1>
                </div>
                <div ng-show="edit" ng-controller="CreateSipCtrl" class="edit-view">
                    <h1>Edit view</h1>
                    <form ng-submit="vm.onSubmit()" novalidate>
                        <formly-form model="vm.archivistOrganisationModel" fields="vm.archivistOrganisationFields" options="vm.options">
                        </formly-form>
                        <formly-form model="vm.creatorOrganisationModel" fields="vm.creatorOrganisationFields">
                        </formly-form>
                         <formly-form model="vm.producerOrganisationModel" fields="vm.producerOrganisationFields">
                        </formly-form>
                         <formly-form model="vm.ipOwnerOrganisationModel" fields="vm.ipOwnerOrganisationFields">
                        </formly-form>
                         <formly-form model="vm.editorOrganisationModel" fields="vm.editorOrganisationFields">
                        </formly-form>
                         <formly-form model="vm.preservationOrganisationModel" fields="vm.preservationOrganisationFields">
                        </formly-form>
                        <button type="submit" class="btn btn-info submit-button">Submit</button>
                    </form>
                </div>
                <div ng-show="eventlog" class="eventlog-view">
                    <h1>Eventlog and submit buttons</h1>
                </div>
            </div>
        </div>
    </body>
</html>
