.content-wrapper {
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
height: 800px;

}
.glyphicon-triangle-bottom {
    cursor: pointer;
}
.content-wrapper > div {
    margin-bottom: 10px;
    margin-left: 10px;
}
.list-view {
    height: 15%;
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
}
.select-view {
    height: 30%;
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
}
.sub-select-view {
    height: 100px;;
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
}

.edit-view {
    height: 75%;
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
}

.eventlog-view {
    height: 15%;
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
}
.formly {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.control-label {
    font-size: 10px;
}
.formly-field {
    width: 23%;
    margin-left: 5px;
}
